.test{
    width: 500px;
    height: 500px;
background-color:red;
}

.frontPage {
display: table;
    background:url(img/FrontPAge.jpeg) no-repeat;
    background-size: cover;
/*Background-size: cover;*/
width: 100%;
height: auto;
padding: 408px;

}